* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 20px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed;
    background: #ddd;
    color: #888;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin-top: 20px;
}

.correct {
    background: #9aeabc !important;
}

.incorrect {
    background: #ff9393 !important;
}
